

<div class="cell small-2 footer" id="footer">
    <div class="grid-x grid-margin-x align-center align-middle full-height">
        <div class="cell shrink text-center">
            <i class="fa fa-share-alt fa-4x" aria-hidden="true"></i>

        </div>
    </div>
</div>
