<div class="cell small-4 header" id="header">
    <div class="grid-x grid-margin-x align-center align-middle full-height">
        <div class="grid-x align-center grid-padding-x" id="title">
            <div class="cell shrink text-center">
                <h1>Records With Friends</h1>
            </div>
        </div>
        <div class="text-center" id="contact">
            <h4>Contact</h4>
        </div>
    </div>
</div>


