<!doctype html>
<html class="no-js" lang="en">

<%- include ../partials/head %>

    <body>


        <div class="grid-y" id="page-y-grid">
            <% include ../partials/header %>

                <div class="cell small-3">
                    <div class="grid-x grid-margin-x align-center align-middle full-height">
                        <div class="grid-x align-center grid-padding-x" id="about">
                            <div class="cell medium-shrink small-12 text-center">
                                <h2>About:</h2>
                            </div>
                            <div class="cell medium-6 small-10">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell auto">
                    <!-- LEFT PANE -->
                    <div class="grid-x grid-padding-x align-center full-height">

                        <div class="cell small-12 medium-4" id="left-pane">
                            <div class="grid-y align-spaced" style="height: 100%;">
                                <div class="cell small-5">
                                    <div class="grid-x align-center-middle">
                                        <a href="/record">
                                            <i class="fa fa-microphone fa-5x" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cell shrink">
                                    <div class="grid-x align-center-middle">
                                        <h3>
                                            <a href="/record">RECORD HERE</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- RIGHT PANE -->
                        <div class="cell small-12 medium-4" id="right-pane">
                            <div class="grid-y align-spaced" style="height: 100%;">
                                <div class="cell small-5">
                                    <div class="grid-x align-center-middle">
                                        <a href="/play">
                                            <i class="fa fa-play fa-5x" id="home-play" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="cell shrink">
                                    <div class="grid-x align-center-middle">
                                        <a href="/play"><h3>LISTEN HERE</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <% include ../partials/footer.ejs %>

        </div>

        <% include ../partials/scripts.ejs %>



    </body>

</html>