<!doctype html>
<html class="no-js" lang="en">

<% include ../partials/head %>

    <body class="full-bg-image">

        <div class="grid-y align-center-middle " id="page-y-grid">
            <% include ../partials/close-button %>
                <div class="cell small-1"></div>
                <div class="cell small-3 full-width">
                    <div class="grid-x align-center-middle full-width full-height">
                        <div class="cell small-12 text-center">
                            <h1 class="heavy-text">RECORDING TITLE</h1>
                        </div>
                    </div>
                </div>

                <div class="cell small-2 full-width">
                    <div class="grid-x align-center-middle full-width full-height">
                        <div class="cell small-3 text-center">
                            <div class="grid-x align-center">
                                <div class="cell small-4 text-center">
                                    <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="cell small-4 text-center">
                                    <i class="fa fa-play fa-3x" aria-hidden="true"></i>
                                </div>
                                <div class="cell small-4 text-center">
                                    <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cell small-2 full-width">
                    <div class="grid-x align-center-middle full-width full-height">
                        <div class="cell small-5 text-center">
                            <h3>Age: 33 | Male | Nashville</h3>
                        </div>
                    </div>
                </div>


                <% include ../partials/footer %>

        </div>





        <% include ../partials/google-scripts.ejs %>
            <% include ../partials/scripts.ejs %>
    </body>

</html>